<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KCon 黑客大会 2016 帝都主场 - 探索一切，攻破一切</title>

    <!--<link rel="apple-touch-icon" href="apple-touch-icon.png">-->
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/timeMachine/public/static/Css/vendor.css">

    <!--<link rel="stylesheet" href="Css/formvalidation.min.css ">-->

    <link rel="stylesheet" href="/timeMachine/public/static/Css/main.css">

    <link rel="stylesheet" href="/timeMachine/public/static/Css/capital.css">
    <link rel="stylesheet" href="/timeMachine/public/static/Css/capital-schedule-and-topics.css">
    <link rel="stylesheet" href="/timeMachine/public/static/Css/section-weapons.css">

    <script src="/timeMachine/public/static/Scripts/modernizr.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?fe879662ec6b3bdf82ef220ff89dc9ef";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <style>
        .partner-wrap {
            height: 100%;
        }
        .sold-out {
            color: #cb081c;
            font-weight: bold;
        }
    </style>
</head>

<body>
<div class="weixin-share-img" style="display: none">
    <img src="/timeMachine/public/static/Picture/weixin-share-mini.jpg" alt="KCon 北京黑客大会"/>
</div>
<!--[if lt IE 10]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="j-loading-wrapper">
  <div class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
</div>

<ul class="fullpage-indicator capital-fullpage-dot-indicator">
  <li data-menuanchor="index" class=""><a href="#index"></a></li>
  <li data-menuanchor="schedule_and_location" class=""><a href="#schedule_and_location"></a></li>
  <li data-menuanchor="speakers_and_topics" class=""><a href="#speakers_and_topics"></a></li>
  <li data-menuanchor="arsenal" class=""><a href="#arsenal"></a></li>
</ul>

<div id="fullpage" class="west-kcon">
    <!--首屏 begin-->
  <div class="section section-index capital-index">
    <a href="#p1o1" class="p1-more p1-more1" title="more"></a>
    <div class="p1-txt">
      <span>探索一切，攻破一切 <a href="#p1o2" class="i-more p1-more" title="more"></a></span>
      <div>
        <strong>2016.08.26-28</strong>
        <i class="s_hr"></i>
        <strong>北京 · 凯宾斯基</strong>
      </div>
    </div>

    <div id="p1o1" class="p1-o p1-o1 trans">
        <div class="s_in">
          <p>- KCon，K，取自黑桃 K，还原扑克牌中人物原型「大卫」，被描述为最正义的国王。</p>
          <p>- KCon 主图形在黑桃 K 的基础上，配以黑客元素，面部阴影化处理，暗喻人人都可以成为「KING」，「探索一切、攻破一切」</p>
        </div>
        <a href="javascript:;" class="s_close"></a>
    </div>

    <div id="p1o2" class="p1-o p1-o2 trans">
        <div class="s_in">
           <p>- 网络空间里的黑客对抗早已白热化，「探索一切、攻破一切」带来的刺激快感是黑客的本源骚动。对我们来说，探索是第一步，攻破是第二步，这些都是过程，不是目的，真正目的是：创造。对于真正的黑客来说，要实现这个目的，就必须经历这个过程。</p>
           <p>- 以往 KCon，我们曝光了许多黑掉手法，本届 KCon，我们将继续。知识无限，技术无罪，我们希望通过这种自由开放的黑客交流方式去达到创造的目的，做好真正的安全！</p>
        </div>
        <a href="javascript:;" class="s_close"></a>
    </div>
    <div class="set-top-right">
      <i class="i-logo"></i>
    </div>
    <div class="set-top-left">
        <div class="menu off trans">
          <button type="button"><i>展开</i></button>
          <a href="#index" class="active">大会首页</a>
          <a href="#schedule_and_location">大会日程</a>
          <a href="#speakers_and_topics">大会议题</a>
          <a href="#arsenal">兵器谱</a>

          <a href="#partners">合作伙伴</a>

          <a href="#the_advisory_group">顾问组</a>
          <a href="#tickets">购票通道</a>
          <a href="#contact_us">联系我们</a>
        </div>
    </div>
    
<div class="sec-foot-left">
    <div class="copyright">Copyright © KCon 2012-2016. All Rights Reserved.</div>
</div>
<div class="set-foot-right">
    <a href="#tickets" class="bt bt-buy">
        <i></i>
        <strong>购票</strong>
    </a>
</div>

  </div>
    <!--首屏 end-->

    <!--大会议题 begin-->

    <div class="section section-topics section-issue">
    
<div class="sec-foot-left">
    <div class="copyright">Copyright © KCon 2012-2016. All Rights Reserved.</div>
</div>
<div class="set-foot-right">
    <a href="#tickets" class="bt bt-buy">
        <i></i>
        <strong>购票</strong>
    </a>
</div>

    <div class="section-topics-title text-center">
      <img data-src="/timeMachine/public/static/Picture/section-topics-title.png" alt=""/>
    </div>

    <div class="set-top-right">
      <i class="i-logo"></i>
    </div>

    <div class="set-top-left">
        <div class="menu off trans">
          <button type="button"><i>展开</i></button>
          <a href="#index">大会首页</a>
          <a href="#schedule_and_location">大会日程</a>
          <a href="#speakers_and_topics" class="active">大会议题</a>
            <a href="#arsenal">兵器谱</a>

          <a href="#partners">合作伙伴</a>

          <a href="#the_advisory_group">顾问组</a>
          <a href="#tickets">购票通道</a>
          <a href="#contact_us">联系我们</a>
        </div>
    </div>

    <ul class="list-topics">
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="/timeMachine/public/static/Picture/14672552029.png" alt=""/>
            <div class="topic-title">
              Hacking Cloud Products
            </div>
            <p class="topic-intro">
              从黑客思维角度分析多类云产品的脆弱点、如何突破云边界，并给出一些影响云产品的安全漏洞案例。
            </p>
          </div>
          <div class="card-back">
            <img data-src="/timeMachine/public/static/Picture/section-topics-card-back.png" alt=""/>
            <div class="author">李可弈
              <p class="intro">
                ID: Demon </br>
Team of n00tr00t & 邪红 </br>
Works at Aliyun
              </p>
            </div>
          </div>
        </div>

      </li>
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="/timeMachine/public/static/Picture/146725531081.png" alt=""/>
            <div class="topic-title">
              塔防模型落地之运维大战情报
            </div>
            <p class="topic-intro">
              深防御塔防模型落地对接安全运维之时，威胁情报横空出世。壁垒边界抑或先知与银弹，演讲者将与大家共同探讨当塔防模型与安全运维遇上威胁情报时产生的特有景象。
            </p>
          </div>
          <div class="card-back">
            <img data-src="/timeMachine/public/static/Picture/section-topics-card-back.png" alt=""/>
            <div class="author">姚威
              <p class="intro">
                ID：黑客叔叔 p0tt1 </br>
广州凌晨网络科技有限公司 </br>
RainRaid Team & 3AM-LAB
              </p>
            </div>
          </div>
        </div>

      </li>
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="/timeMachine/public/static/Picture/146725690556.png" alt=""/>
            <div class="topic-title">
              给谁的愚蠢买单？！
            </div>
            <p class="topic-intro">
              运营商、银行、执法机关…… 究竟谁来为我们卡上不翼而飞的金额买单？！
            </p>
          </div>
          <div class="card-back">
            <img data-src="/timeMachine/public/static/Picture/section-topics-card-back.png" alt=""/>
            <div class="author">Only_guest
              <p class="intro">
                PKAV 负责人</br>双螺旋安全研究院院长
              </p>
            </div>
          </div>
        </div>

      </li>
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="/timeMachine/public/static/Picture/146726305173.png" alt=""/>
            <div class="topic-title">
              “黑帽子”给“白帽子”讲故事
            </div>
            <p class="topic-intro">
              从执法者角度直击黑客热点事件，分析漏洞平台、众测平台和各大 SRC 的任务合法性，揭露地下黑色产业链现状，介绍打击网络犯罪经典案例。
            </p>
          </div>
          <div class="card-back">
            <img data-src="/timeMachine/public/static/Picture/section-topics-card-back.png" alt=""/>
            <div class="author">童瀛
              <p class="intro">
                ID：傲气雄鹰 </br>
江苏省公安厅网络安全保卫总队科长，</br>
公安部网络安全专家
              </p>
            </div>
          </div>
        </div>

      </li>
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="/timeMachine/public/static/Picture/146726635461.png" alt=""/>
            <div class="topic-title">
              Reverse Engineering Trilogy
            </div>
            <p class="topic-intro">
              放弃现有旧工具，介绍由我们团队打造的几乎已经是逆向的标准软件（Capstone、Unicorn、Keystone）。
            </p>
          </div>
          <div class="card-back">
            <img data-src="/timeMachine/public/static/Picture/section-topics-card-back.png" alt=""/>
            <div class="author">刘凯仁
              <p class="intro">
                ID：xwings </br>Team of vnsec </br> 中新网络信息安全公司
              </p>
            </div>
          </div>
        </div>

      </li>
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="/timeMachine/public/static/Picture/146727768694.png" alt=""/>
            <div class="topic-title">
              VMProtect 的一次奇妙之旅
            </div>
            <p class="topic-intro">
              VMProtect 是目前最强的虚拟化保护技术。本议题将讨论其虚拟化保护相关背景知识与设计原理，并结合一个非常流行的客户端进行还原演示。
            </p>
          </div>
          <div class="card-back">
            <img data-src="/timeMachine/public/static/Picture/section-topics-card-back.png" alt=""/>
            <div class="author">何潇潇
              <p class="intro">
                北京永信至诚科技股份有限公司 </br>安全研究员
              </p>
            </div>
          </div>
        </div>

      </li>
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="/timeMachine/public/static/Picture/146726643534.png" alt=""/>
            <div class="topic-title">
              Attacking Android App&#39;s Third Libraries
            </div>
            <p class="topic-intro">
              本议题介绍针对 Android 第三方库的漏洞攻击和 Fuzz 方法，并围绕开发者应对方案展开讨论。
            </p>
          </div>
          <div class="card-back">
            <img data-src="/timeMachine/public/static/Picture/section-topics-card-back.png" alt=""/>
            <div class="author">dragonltx &amp; quhe
              <p class="intro">
                unLimit 安全小组成员 </br> 主要研究领域为安卓安全与漏洞挖掘
              </p>
            </div>
          </div>
        </div>

      </li>
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="/timeMachine/public/static/Picture/146762140513.png" alt=""/>
            <div class="topic-title">
              Binder Fuzz &amp; Some Interesting Vulnerability Sharing
            </div>
            <p class="topic-intro">
              首先介绍基于 drozer 的 binder fuzz 模型，然后分享几个有趣的安卓系统漏洞。最后介绍系统服务漏洞的常见利用方法。
            </p>
          </div>
          <div class="card-back">
            <img data-src="/timeMachine/public/static/Picture/section-topics-card-back.png" alt=""/>
            <div class="author">行之
              <p class="intro">
                ID：0xr0ot </br>
安全研究员 </br>
主要研究领域为安卓安全与系统漏洞挖掘
              </p>
            </div>
          </div>
        </div>

      </li>
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="/timeMachine/public/static/Picture/14678733897.png" alt=""/>
            <div class="topic-title">
              BadURLScheme in iOS
            </div>
            <p class="topic-intro">
              分享一个在 iOS 系统 URL Scheme 方面存在某种设计缺陷、从而导致众多 App 受到攻击的 0day 安全漏洞。
            </p>
          </div>
          <div class="card-back">
            <img data-src="/timeMachine/public/static/Picture/section-topics-card-back.png" alt=""/>
            <div class="author">黑哥
              <p class="intro">
                ID: superhei </br>
知道创宇 CSO </br>
漏洞之王 </br>
曾经的男科医生
              </p>
            </div>
          </div>
        </div>

      </li>
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="/timeMachine/public/static/Picture/14677028946.png" alt=""/>
            <div class="topic-title">
              剑走偏锋之 Hacking 无处不在
            </div>
            <p class="topic-intro">
              站在漏洞挖掘的角度介绍万物互联环境下如何攻破各类互联网络，包括智能联网设备、工控网络、交通网络等。
            </p>
          </div>
          <div class="card-back">
            <img data-src="/timeMachine/public/static/Picture/section-topics-card-back.png" alt=""/>
            <div class="author">朱利军
              <p class="intro">
                ID: Rabit2013 </br>
现任四叶草安全 CSO（首席安全官） </br>
CloverSec Labs 负责人 </br>
              </p>
            </div>
          </div>
        </div>

      </li>
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="/timeMachine/public/static/Picture/146725563959.png" alt=""/>
            <div class="topic-title">
              谛听：无线 Fuzzing 之旅
            </div>
            <p class="topic-intro">
              本议题将涉及 Wi-Fi、蓝牙、NFC 等常见无线通讯协议安全分析，带领大家一同体验剑走偏锋、反其道而行之的无线 Fuzzing 探索之旅。
            </p>
          </div>
          <div class="card-back">
            <img data-src="/timeMachine/public/static/Picture/section-topics-card-back.png" alt=""/>
            <div class="author">KEVIN2600
              <p class="intro">
                Insight-labs 成员 </br>安全分析师 </br>坚信黑客精神就是不断探索未知领域
              </p>
            </div>
          </div>
        </div>

      </li>
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="/timeMachine/public/static/Picture/146725696779.png" alt=""/>
            <div class="topic-title">
              伪基站高级利用技术
            </div>
            <p class="topic-intro">
              介绍 GSM､UMTS､LTE 伪基站概况，以及如何利用伪基站实现中间人攻击、仿冒手机身份、拦截短信，完成对手机和网络账户的快速入侵。
            </p>
          </div>
          <div class="card-back">
            <img data-src="/timeMachine/public/static/Picture/section-topics-card-back.png" alt=""/>
            <div class="author">Seeker
              <p class="intro">
                连续创业失败的创业导师 </br>不投资的天使投资人
              </p>
            </div>
          </div>
        </div>

      </li>
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="/timeMachine/public/static/Picture/146726179281.png" alt=""/>
            <div class="topic-title">
              RFID Vulnerability Principles &amp; Demonstration
            </div>
            <p class="topic-intro">
              以通俗易懂的方式解释 Mifare Classic 常见漏洞、一些常见的攻防手法以及漏洞 Demo。
            </p>
          </div>
          <div class="card-back">
            <img data-src="/timeMachine/public/static/Picture/section-topics-card-back.png" alt=""/>
            <div class="author">汪正扬
              <p class="intro">
                ID：汪哥 </br>
Student & Independent Researcher
              </p>
            </div>
          </div>
        </div>

      </li>
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="/timeMachine/public/static/Picture/14672552493.png" alt=""/>
            <div class="topic-title">
              智能汽车内网入侵检测研究
            </div>
            <p class="topic-intro">
              分享一种汽车入侵检测系统，该系统是基于现有汽车网络攻击案例与汽车内部网络结构研究提的出一种普适入侵检测方法。
            </p>
          </div>
          <div class="card-back">
            <img data-src="/timeMachine/public/static/Picture/section-topics-card-back.png" alt=""/>
            <div class="author">李均
              <p class="intro">
                UnicornTeam 高级无线安全研究员 </br>
成都信息工程大学信息安全工程学院硕士
              </p>
            </div>
          </div>
        </div>

      </li>
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="/timeMachine/public/static/Picture/14672554879.png" alt=""/>
            <div class="topic-title">
              网络设备漏洞分析技术研究
            </div>
            <p class="topic-intro">
              从安全研究人员的角度分析网络设备漏洞特点，并通过案例分享 Cisco ASA 防火墙及路由设备等网络设备漏洞研究方法。
            </p>
          </div>
          <div class="card-back">
            <img data-src="/timeMachine/public/static/Picture/section-topics-card-back.png" alt=""/>
            <div class="author">timo
              <p class="intro">
                Works for 兴华永恒 </br>北京大学软件安全研究小组成员
              </p>
            </div>
          </div>
        </div>

      </li>
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="/timeMachine/public/static/Picture/146725544209.png" alt=""/>
            <div class="topic-title">
              Came, Saw and Conquered：网络空间中的 IoT 安全
            </div>
            <p class="topic-intro">
              解密网络空间物联网设备快速搜索技术和指纹提取方法，分析全球联网设备态势分布。最后，通过 0day 漏洞利用带你看世界。
            </p>
          </div>
          <div class="card-back">
            <img data-src="/timeMachine/public/static/Picture/section-topics-card-back.png" alt=""/>
            <div class="author">闫兆腾
              <p class="intro">
                ID：ppprince </br>中科院信息工程研究所 </br> 助研
              </p>
            </div>
          </div>
        </div>

      </li>
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="/timeMachine/public/static/Picture/146725700606.png" alt=""/>
            <div class="topic-title">
              感知、诱捕、情报、协作：网络空间工控系统威胁情报
            </div>
            <p class="topic-intro">
              本议题将立足网络空间攻防对抗的新战场——工控系统，提出威胁感知诱捕计划并分析与展示系统捕获的入侵行为。
            </p>
          </div>
          <div class="card-back">
            <img data-src="/timeMachine/public/static/Picture/section-topics-card-back.png" alt=""/>
            <div class="author">Kimon
              <p class="intro">
                灯塔实验室负责人
              </p>
            </div>
          </div>
        </div>

      </li>
      
      <li class="item-topic">
        <div class="flipper">
          <div class="card-front">
            <img data-src="/timeMachine/public/static/Picture/146725559859.png" alt=""/>
            <div class="topic-title">
              与僵尸网络攻防对抗的激情岁月
            </div>
            <p class="topic-intro">
              主要讲述与僵尸网络攻防对抗的一些经验，包括识别、监控、反制僵尸网络的一些技术分享以及关于一个僵尸网络黑色产业链的案例介绍。
            </p>
          </div>
          <div class="card-back">
            <img data-src="/timeMachine/public/static/Picture/section-topics-card-back.png" alt=""/>
            <div class="author">b1t
              <p class="intro">
                猎户攻防实验室</br>安全研究员
              </p>
            </div>
          </div>
        </div>

      </li>
      

    </ul>

    <div class="list-topics-navs">
      <span class="position">01</span> of 05
      <div class="dots-wrapper"></div>
      <div class="arrows arrow-prev">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </div>
      <div class="arrows arrow-next">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
    </div>

  </div>
    <!--大会议题 end-->
    <!--合作伙伴 begin-->
    <div class="section section-partner p-partners">
    <div class="text-center"><img data-src="/timeMachine/public/static/Picture/logo.png"></div>
    <div class="set-top-right">
      <i class="i-logo-gray"></i>
    </div>
    <div class="set-top-left">
        <div class="menu menu-dark off trans">
          <button type="button"><i>展开</i></button>
          <a href="#index">大会首页</a>
          <a href="#schedule_and_location">大会日程</a>
          <a href="#speakers_and_topics">大会议题</a>
            <a href="#arsenal">兵器谱</a>

          <a href="#partners" class="active">合作伙伴</a>

          <a href="#the_advisory_group">顾问组</a>
          <a href="#tickets">购票通道</a>
          <a href="#contact_us">联系我们</a>
        </div>
    </div>
    <div class="slick-partner-wrapper">
      <div class="slick-partner">
        <div class="item-group item-group-1">
            <div class="partner-wrap">
                <div class="clearfix mb30">
                 <div class="pull-left partner-item">
                     <h3>独家协办</h3>
                     <div class ="i-partners" style="margin-right: 5px;">
                     
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="/timeMachine/public/static/Picture/146725444407.png" alt="" title="腾讯安全"/></i>
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                      </div>
                 </div>
                 <div class="pull-left partner-item">
                     <h3>黑钻赞助商</h3>
                     <div class ="i-partners">
                     
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="/timeMachine/public/static/Picture/146728153979.png" alt="" title="通付盾"/></i>
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                      </div>
                 </div>
               </div>
                <div class="clearfix partner-item">
                   <h3>KCon-RockNight</h3>
                   <div class="i-partners">
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                                <i class="i-partner"><img data-src="/timeMachine/public/static/Picture/146728355345.png" alt="" title="XPwn"/></i>
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                   </div>
               </div>
               <div class="clearfix partner-item">
                   <h3>赞助商</h3>
                   <div class="i-partners">
                      
                        
                            <i class="i-partner"><img data-src="/timeMachine/public/static/Picture/146725381539.png" alt="" title="启明星辰"/></i>
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="/timeMachine/public/static/Picture/146967539523.png" alt="" title="江南天安"/></i>
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="/timeMachine/public/static/Picture/147088446587.png" alt="" title="零盾"/></i>
                        
                      
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="/timeMachine/public/static/Picture/147088450695.png" alt="" title="安赛"/></i>
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="/timeMachine/public/static/Picture/147261078386.png" alt="" title="IELAB"/></i>
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="/timeMachine/public/static/Picture/146725377674.png" alt="" title="腾讯安全"/></i>
                        
                      
                   </div>
               </div>
            </div>
        </div>
        <div class="item-group item-group-2">
            <div class="partner-wrap">
                <div class="clearfix partner-item">
                   <h3>战略媒体</h3>
                   <div class="i-partners">
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="/timeMachine/public/static/Picture/146725364704.png" alt="" title="IT168"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="/timeMachine/public/static/Picture/146725363767.png" alt="" title="中国信息安全"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="/timeMachine/public/static/Picture/146725360859.png" alt="" title="安全牛"/></i>
                        
                      
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="/timeMachine/public/static/Picture/146728178248.png" alt="" title="网络尖刀"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="/timeMachine/public/static/Picture/146728186331.png" alt="" title="易安在线"/></i>
                        
                      
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="/timeMachine/public/static/Picture/146728284893.png" alt="" title="威客安全"/></i>
                        
                      
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146728432829.png" alt="" title="freebuf"/></i>
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146768747339.png" alt="" title="安在"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="/timeMachine/public/static/Picture/146768752243.png" alt="" title="信安在线"/></i>
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="/timeMachine/public/static/Picture/147178102548.png" alt="" title="安全圈"/></i>
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/147020431656.png" alt="" title="SF"/></i>
                        
                      
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/147088452326.png" alt="" title="虎嗅"/></i>
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                   </div>
               </div>
               <div class="clearfix partner-item">
                   <h3>合作媒体</h3>
                   <div class="i-partners">
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146728205166.png" alt="" title="比特网"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146728208128.png" alt="" title="CSDN"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/14672821670.png" alt="" title="至顶网"/></i>
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/14676871021.png" alt="" title="雷锋网"/></i>
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/147088399961.png" alt="" title="安全智库"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/147088402738.png" alt="" title="亿邦动力"/></i>
                        
                      
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/14712329490.png" alt="" title="爱安全"/></i>
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                   </div>
               </div>
            </div>
        </div>
        <div class="item-group">
            <div class="partner-wrap">
                <div class="clearfix partner-item">
                   <h3>伙伴们</h3>
                   <div class="i-partners">
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146725375555.png" alt="" title="四叶草"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146725369318.jpg" alt="" title="盘古"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/14672536837.jpg" alt="" title="玄武实验室"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/14672536595.png" alt="" title="野狗"/></i>
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146768869314.png" alt="" title="15PB"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146728297405.png" alt="" title="娜迦"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146728341822.png" alt="" title="赛客"/></i>
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146728525938.png" alt="" title="小密圈"/></i>
                        
                      
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146872312058.png" alt="" title="i春秋"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146872323107.png" alt="" title="梆梆安全"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146872346752.png" alt="" title="凌晨科技"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146872351139.jpg" alt="" title="君安天下"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/14687235466.png" alt="" title="实验室"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146872389997.png" alt="" title="众安天下"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146943231179.png" alt="" title="风铃安全"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146943234896.png" alt="" title="ruff"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146943237385.png" alt="" title="sobug"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146967416017.png" alt="" title="走唱"/></i>
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146967542204.png" alt="" title="华盟网"/></i>
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/147088473727.png" alt="" title="w3c"/></i>
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/147123302711.png" alt="" title="灯塔实验室"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/147158229082.png" alt="" title="安全狗"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/14715824048.png" alt="" title="破晓"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/147158242298.png" alt="" title="一叶"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/147158244859.png" alt="" title="活动家"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/147158247129.png" alt="" title="inn"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/147158260127.png" alt="" title="志琪"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/147178106886.png" alt="" title="安洵"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/147178110049.png" alt="" title="无声信息"/></i>
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/147178112245.png" alt="" title="图灵"/></i>
                        
                      
                        
                      
                        
                            <i class="i-partner"><img data-src="Picture/146725373623.png" alt="" title="石盾科技"/></i>
                        
                      
                        
                      
                   </div>

               </div>
            </div>
        </div>
      </div>
    </div>
    
<div class="sec-foot-left">
    <div class="copyright">Copyright © KCon 2012-2016. All Rights Reserved.</div>
</div>
<div class="set-foot-right">
    <a href="#tickets" class="bt bt-buy">
        <i></i>
        <strong>购票</strong>
    </a>
</div>

  </div>
    <!--合作伙伴 end-->
    

    <!--联系我们 begin-->
  <div class="section section-contact">

      <div class="set-top-left">
          <div class="menu menu off trans">
            <button type="button"><i>展开</i></button>
          <a href="#index">大会首页</a>
          <a href="#schedule_and_location">大会日程</a>
          <a href="#speakers_and_topics">大会议题</a>
              <a href="#arsenal">兵器谱</a>

          <a href="#partners">合作伙伴</a>

          <a href="#the_advisory_group">顾问组</a>
          <a href="#tickets">购票通道</a>
          <a href="#contact_us" class="active">联系我们</a>
          </div>
      </div>

      <div class="set-top-right">
        <i class="i-logo"></i>
      </div>

      
<div class="sec-foot-left">
    <div class="copyright">Copyright © KCon 2012-2016. All Rights Reserved.</div>
</div>
<div class="set-foot-right">
    <a href="#tickets" class="bt bt-buy">
        <i></i>
        <strong>购票</strong>
    </a>
</div>


    <div class="contact-me">
        <div class="text-center" style="margin-bottom: 65px;"><img data-src="/timeMachine/public/static/Picture/logo.png"></div>
        <div class="con-me_right_announce">
            <div class="cm_ra_title">权利声明</div>
            <div class="contact-me_undersocre"></div>
            <div class="cm_ra_content">
                <p>1. 爱国、友善、自由、分享，大家一起努力保证大会的精彩持续，特别注意不入侵会场任何非授权资产，谢谢！</p>
                <p>2. 我们会严格尊重你的隐私权。</p>
            </div>
        </div>
        <div class="con-me_others">
            <div class="cm_ths_contact_way">
                <div class="cm_ths_cw_title">联系方式</div>
                <div class="contact-me_undersocre"></div>
                <div class="cm_ths_cw_content">
                    <p>赞助联系: &nbsp;010-57076191</p>
                    <p>媒体联系: &nbsp;010-57076191</p>
                </div>
            </div>
            <div class="cm_ths_recruit">
                <div class="cm_ths_recruit_title">招募计划</div>
                <div class="contact-me_undersocre"></div>
                <div class="cm_ths_recruit_content">
                    <p>
                        <a href="/recruit/speaker">演讲者招募</a>
                        <a href="/recruit/arsenal">兵器谱招募</a>
                    </p>

                    <p>
                        <a href="/recruit/trainer">培训师招募</a>
                        <a href="/recruit/volunteer">志愿者招募</a>
                    </p>
                </div>
            </div>
            <div class="cm_ths_follow_me">
                    <a target="_blank" href="mailto:kcon@knownsec.com" class="i-share i-share-1"><i></i></a>
                    <a target="_blank" href="https://twitter.com/kconglobal" class="i-share i-share-2"><i></i></a>
                    <!--<a href="javascript:;" class="i-share i-share-3"><i></i></a>-->
                    <a target="_blank" href="http://weibo.com/u/5303180139" class="i-share i-share-4"><i></i></a>
                    <a href="javascript:;" class="i-share i-share-5"><img data-src="Picture/qr.png" width="92" height="93" alt=""></a>
            </div>
        </div>
        <div class="con-me_other_links">
            <div class="cm_ol_content">
                <p><span class="cm_ol_arrow"></span><a href="/about">关 于 K C o n</a></p>
                <p><span class="cm_ol_arrow"></span><a href="/surroundings">K C o n 周 边</a></p>
            </div>
        </div>
    </div>

    </div>
    <!--联系我们 end-->
</div>


<script src="/timeMachine/public/static/Scripts/vendor.js"></script>

<script>
    $('#fullpage').fullpage({
        menu: '.fullpage-indicator',
        lockAnchors: false,

        anchors: ['index', 'schedule_and_location', 'speakers_and_topics', 'arsenal', 'partners', 'the_advisory_group', 'tickets', 'contact_us'],

        navigation: false,
        navigationPosition: 'right',
        navigationTooltips: ['firstSlide', 'secondSlide'],
        showActiveTooltip: false,
        slidesNavigation: false,
        controlArrows: true,
        slidesNavPosition: 'bottom',
        afterRender: function () {
            $('.j-loading-wrapper').hide();
        }
    });
</script>

<script src="/timeMachine/public/static/Scripts/plugins.js"></script>

<!--<script src="Scripts/main.js"></script>-->

<script src="/timeMachine/public/static/Scripts/capital-schedule-and-topics.js"></script>
<script src="/timeMachine/public/static/Scripts/section-weapons.js"></script>


<script>
    $('body').on('click', '.menu button', function (e) {
        e.preventDefault();
        var $menu = $(this).parent('.menu');
        $menu.toggleClass('off');
    }).on('click', '.p1-more', function (e) {
        e.preventDefault();
        var targetId = $(this).attr('href');
        var $target = $(targetId);
        $target.addClass('on');
    });
    $('.p1-o').click(function (e) {
        e.stopPropagation();
    });
    $('.p1-o .s_close').click(function () {
        $(this).parent().removeClass('on');
    });
    $('.capital-index').click(function () {
        $('.p1-o').removeClass('on');
    });
    $('.slick-partner').slick({
        lazyLoad: 'ondemand',
        infinite: true,
        dots: true,
        adaptiveHeight: true
    });

    var $jCounter=$('.j-counter');
    var $jCounterInput=$jCounter.find('input');

    $jCounter.counter();
    // 门票张数
    $jCounterInput.keyup(function (event) {
        this.value = this.value.replace(/[^0-9]/g, '');
        var $input = $(this);
        var max = parseInt($input.data('max'));
        var min = parseInt($input.data('min'));

        if (this.value.length > 0) {
            if (parseInt(this.value) > max) {
                $input.val(max);
            }
            if (parseInt(this.value) < min) {
                $input.val(min);
            }
            $("#ticket_number").val($input.val());
        }
    });

    $jCounter.on('click', 'span', function (e) {
        $("#ticket_number").val($('.j-counter').find('input').val());
    });

    function selectTicket(obj) {
        $("#instant_purchase").attr("disabled", false);
        $('.capital-ticket').removeClass('selected');
        $(obj).addClass("selected");
        var content = '"' + $(obj).find(".t-head").html() + $(obj).find(".t-title").html() + '" <span class="text-danger">' + $(obj).find(".t-price").html() + '</span>';

        $("#ticket_selected").html(content);

        var t_type = $(obj).find(".t-type").html();

//        var $jCounter = $('.j-counter');
        if (t_type == "2") {
            $jCounterInput.attr('data-max', 1);
            $jCounter.find('.plus').attr('data-original-title', '一次限购 1 张');

        } else {
            $jCounterInput.attr('data-max', 5);
            $jCounter.find('.plus').attr('data-original-title', '一次限购 5 张');
        }
        $jCounterInput.val(1);
        $("#ticket_number").val(1);
        $("#ticket_type").val(t_type);
    }

    $('.ticket2').each(function () {
        var $titleWrapper = $(this).find('.t-title');
        var ticketType = $(this).find('.t-type').text();
        switch (ticketType) {
            case '1':
                // [安全进阶培训][含餐]
                $titleWrapper.html($titleWrapper.text() + '<b>[含餐]</b>');
                break;
            case '2':
                // [学生票][不含餐]
                $titleWrapper.html($titleWrapper.text() + '[不含餐]');
                break;
            case '3':
                // [普通票][不含餐]
                $titleWrapper.html($titleWrapper.text() + '[不含餐]');
                break;
            case '4':
                // [普通票][含餐]
                $titleWrapper.html($titleWrapper.text() + '<b data-toggle="tooltip" data-placement="top" title="仅含 27-28 日午餐">[含餐]</b>');
                break;
            case '5':
                // [通票][含餐]
                $titleWrapper.html($titleWrapper.text() + '<b data-toggle="tooltip" data-placement="top" title="KCon 2天演讲日午餐 XCon 2天演讲日午餐  1天 XPwn 免费观摩资格">[含餐]</b>');
                break;
        }
    });

    $('[data-toggle="tooltip"]').tooltip();

</script>


</body>
</html>
